<div class="wrapper">
  <h3>Search</h3>
  <input #searchInput type="text" placeholder="Searching for ..." />
  <h3>Add task</h3>
  <div class="todo__input-wrapper">
    <input
      #addTaskInput
      type="text"
      (input)="onInputChange(addTaskInput.value)"
      (keydown.enter)="addTask(); addTaskInput.value = ''"
      class="todo__input"
    />
    <button (click)="addTask(); addTaskInput.value = ''">Add</button>
  </div>

  <h3>Current tasks</h3>

  <button (click)="completeAllTasks()">Complete all</button>

  <hr />

  <app-list
    [items]="currentTasks"
    [itemTemplate]="taskTemplate"
    width="200px"
  ></app-list>

  <hr />
  <h3>Completed tasks</h3>
  <hr />

  <app-list
    [items]="completedTasks"
    [itemTemplate]="completedTaskTemplate"
    width="200px"
  ></app-list>

  <ng-template #taskTemplate let-task>
    <app-task-item
      [task]="task"
      (toggleDone)="onToggleDone($event)"
      (deleteTask)="onDeleteTask($event)"
    ></app-task-item>
  </ng-template>

  <ng-template #completedTaskTemplate let-task>
    <app-task-item
      [completed]="true"
      [task]="task"
      (toggleDone)="onToggleDone($event)"
      (deleteTask)="onDeleteTask($event)"
    ></app-task-item>
  </ng-template>
</div>
